.marquee-15 {
  animation: scroll-left 5s linear infinite;
}

.marquee-20 {
  animation: scroll-left 7s linear infinite;
}

@keyframes scroll-left {
 0% {
   left: 100%;
 }
 100% {
   left: -100%;
 }
}
